@inherits LayoutComponentBase

<div class="sidebar" style="background: linear-gradient(black, transparent);">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
